In [12]:
import psycopg2
import os 
from dotenv import load_dotenv

load_dotenv()

conn = psycopg2.connect(
    host = os.getenv("PG_HOST"),
    port = os.getenv("PG_PORT"),
    user = os.getenv("PG_USER"),
    password = os.getenv("PG_PASSWORD"),
    database = os.getenv("PG_DB")
)

cursor = conn.cursor()
cursor.execute("SELECT version();")
cursor.fetchone()

('PostgreSQL 17.6 on x86_64-windows, compiled by msvc-19.44.35213, 64-bit',)

In [13]:
#loading env variables [api key & endpoints]
import os 
os.environ["LANGCHAIN_TRACING_V2"] = "True"
os.environ["LANGCHAIN_ENDPOINT"] = "https://api.smith.langchain.com"
os.environ["LANGCHAIN_API_KEY"] =  os.getenv("LANGSMITH_API_KEY")
os.environ["LANGCHAIN_PROJECT"] = os.getenv("LANGCHAIN_PROJECT")

In [14]:
from langsmith import Client
client = Client()
pro = client.list_projects()
list(pro)[:3]

[TracerSessionResult(id=UUID('0eda85f8-68d5-4e69-898a-b61111b816ab'), start_time=datetime.datetime(2025, 11, 25, 22, 29, 20, 973000, tzinfo=datetime.timezone.utc), end_time=None, description=None, name='default', extra=None, tenant_id=UUID('cf648a76-6e3e-4ed5-aa78-4782c01d5842'), reference_dataset_id=None, run_count=None, latency_p50=None, latency_p99=None, total_tokens=None, prompt_tokens=None, completion_tokens=None, last_run_start_time=None, feedback_stats=None, session_feedback_stats=None, run_facets=None, total_cost=None, prompt_cost=None, completion_cost=None, first_token_p50=None, first_token_p99=None, error_rate=None),
 TracerSessionResult(id=UUID('947fb665-cac9-4d5f-a1ad-622298f39667'), start_time=datetime.datetime(2025, 11, 25, 5, 39, 24, 674364, tzinfo=datetime.timezone.utc), end_time=None, description=None, name='nlp2-sql-chatbot', extra=None, tenant_id=UUID('cf648a76-6e3e-4ed5-aa78-4782c01d5842'), reference_dataset_id=None, run_count=None, latency_p50=None, latency_p99=None, total_tokens=None, prompt_tokens=None, completion_tokens=None, last_run_start_time=None, feedback_stats=None, session_feedback_stats=None, run_facets=None, total_cost=None, prompt_cost=None, completion_cost=None, first_token_p50=None, first_token_p99=None, error_rate=None)]

In [4]:
pip install langchain-groq

Defaulting to user installation because normal site-packages is not writeable
Collecting langchain-groq
  Using cached langchain_groq-1.1.0-py3-none-any.whl.metadata (2.4 kB)
Collecting groq<1.0.0,>=0.30.0 (from langchain-groq)
  Using cached groq-0.36.0-py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: langchain-core<2.0.0,>=1.1.0 in c:\users\deepika.pedagadi\appdata\roaming\python\python313\site-packages (from langchain-groq) (1.1.0)
Requirement already satisfied: anyio<5,>=3.5.0 in c:\users\deepika.pedagadi\appdata\roaming\python\python313\site-packages (from groq<1.0.0,>=0.30.0->langchain-groq) (4.11.0)
Requirement already satisfied: distro<2,>=1.7.0 in c:\users\deepika.pedagadi\appdata\roaming\python\python313\site-packages (from groq<1.0.0,>=0.30.0->langchain-groq) (1.9.0)
Requirement already satisfied: httpx<1,>=0.23.0 in c:\users\deepika.pedagadi\appdata\roaming\python\python313\site-packages (from groq<1.0.0,>=0.30.0->langchain-groq) (0.28.1)
Requirement already satisfied: pydantic<3,>=1.9.0 in c:\users\deepika.pedagadi\appdata\roaming\python\python313\site-packages (from groq<1.0.0,>=0.30.0->langchain-groq) (2.12.4)
Requirement already satisfied: sniffio in c:\users\deepika.pedagadi\appdata\roaming\python\python313\site-packages (from groq<1.0.0,>=0.30.0->langchain-groq) (1.3.1)
Requirement already satisfied: typing-extensions<5,>=4.10 in c:\users\deepika.pedagadi\appdata\roaming\python\python313\site-packages (from groq<1.0.0,>=0.30.0->langchain-groq) (4.15.0)
Requirement already satisfied: idna>=2.8 in c:\users\deepika.pedagadi\appdata\roaming\python\python313\site-packages (from anyio<5,>=3.5.0->groq<1.0.0,>=0.30.0->langchain-groq) (3.10)
Requirement already satisfied: certifi in c:\users\deepika.pedagadi\appdata\roaming\python\python313\site-packages (from httpx<1,>=0.23.0->groq<1.0.0,>=0.30.0->langchain-groq) (2025.8.3)
Requirement already satisfied: httpcore==1.* in c:\users\deepika.pedagadi\appdata\roaming\python\python313\site-packages (from httpx<1,>=0.23.0->groq<1.0.0,>=0.30.0->langchain-groq) (1.0.9)
Requirement already satisfied: h11>=0.16 in c:\users\deepika.pedagadi\appdata\roaming\python\python313\site-packages (from httpcore==1.*->httpx<1,>=0.23.0->groq<1.0.0,>=0.30.0->langchain-groq) (0.16.0)
Requirement already satisfied: jsonpatch<2.0.0,>=1.33.0 in c:\users\deepika.pedagadi\appdata\roaming\python\python313\site-packages (from langchain-core<2.0.0,>=1.1.0->langchain-groq) (1.33)
Requirement already satisfied: langsmith<1.0.0,>=0.3.45 in c:\users\deepika.pedagadi\appdata\roaming\python\python313\site-packages (from langchain-core<2.0.0,>=1.1.0->langchain-groq) (0.4.46)
Requirement already satisfied: packaging<26.0.0,>=23.2.0 in c:\users\deepika.pedagadi\appdata\roaming\python\python313\site-packages (from langchain-core<2.0.0,>=1.1.0->langchain-groq) (25.0)
Requirement already satisfied: pyyaml<7.0.0,>=5.3.0 in c:\users\deepika.pedagadi\appdata\roaming\python\python313\site-packages (from langchain-core<2.0.0,>=1.1.0->langchain-groq) (6.0.3)
Requirement already satisfied: tenacity!=8.4.0,<10.0.0,>=8.1.0 in c:\users\deepika.pedagadi\appdata\roaming\python\python313\site-packages (from langchain-core<2.0.0,>=1.1.0->langchain-groq) (9.1.2)
Requirement already satisfied: jsonpointer>=1.9 in c:\users\deepika.pedagadi\appdata\roaming\python\python313\site-packages (from jsonpatch<2.0.0,>=1.33.0->langchain-core<2.0.0,>=1.1.0->langchain-groq) (3.0.0)
Requirement already satisfied: orjson>=3.9.14 in c:\users\deepika.pedagadi\appdata\roaming\python\python313\site-packages (from langsmith<1.0.0,>=0.3.45->langchain-core<2.0.0,>=1.1.0->langchain-groq) (3.11.4)
Requirement already satisfied: requests-toolbelt>=1.0.0 in c:\users\deepika.pedagadi\appdata\roaming\python\python313\site-packages (from langsmith<1.0.0,>=0.3.45->langchain-core<2.0.0,>=1.1.0->langchain-groq) (1.0.0)
Requirement already satisfied: requests>=2.0.0 in c:\users\deepika.pedagadi\appdata\roaming\python\python313\site-packages (from langsmith<1.0.0,>=0.3.45->langchain-core<2.0.0,>=1.1.0->langchain-groq) (2.32.5)
Requirement already satisfied: zstandard>=0.23.0 in c:\users\deepika.pedagadi\appdata\roaming\python\python313\site-packages (from langsmith<1.0.0,>=0.3.45->langchain-core<2.0.0,>=1.1.0->langchain-groq) (0.25.0)
Requirement already satisfied: annotated-types>=0.6.0 in c:\users\deepika.pedagadi\appdata\roaming\python\python313\site-packages (from pydantic<3,>=1.9.0->groq<1.0.0,>=0.30.0->langchain-groq) (0.7.0)
Requirement already satisfied: pydantic-core==2.41.5 in c:\users\deepika.pedagadi\appdata\roaming\python\python313\site-packages (from pydantic<3,>=1.9.0->groq<1.0.0,>=0.30.0->langchain-groq) (2.41.5)
Requirement already satisfied: typing-inspection>=0.4.2 in c:\users\deepika.pedagadi\appdata\roaming\python\python313\site-packages (from pydantic<3,>=1.9.0->groq<1.0.0,>=0.30.0->langchain-groq) (0.4.2)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\deepika.pedagadi\appdata\roaming\python\python313\site-packages (from requests>=2.0.0->langsmith<1.0.0,>=0.3.45->langchain-core<2.0.0,>=1.1.0->langchain-groq) (3.4.3)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\deepika.pedagadi\appdata\roaming\python\python313\site-packages (from requests>=2.0.0->langsmith<1.0.0,>=0.3.45->langchain-core<2.0.0,>=1.1.0->langchain-groq) (2.3.0)
Using cached langchain_groq-1.1.0-py3-none-any.whl (19 kB)
Using cached groq-0.36.0-py3-none-any.whl (137 kB)
Installing collected packages: groq, langchain-groq

   ---------------------------------------- 0/2 [groq]
   ---------------------------------------- 0/2 [groq]
   ---------------------------------------- 0/2 [groq]
   ---------------------------------------- 0/2 [groq]
   ---------------------------------------- 0/2 [groq]
   -------------------- ------------------- 1/2 [langchain-groq]
   -------------------- ------------------- 1/2 [langchain-groq]
   ---------------------------------------- 2/2 [langchain-groq]

Successfully installed groq-0.36.0 langchain-groq-1.1.0
Note: you may need to restart the kernel to use updated packages.

In [44]:
import os
from langchain_groq import ChatGroq

os.environ["GROQ_API_KEY"] = os.getenv("GROQ_API_KEY")

llm = ChatGroq(
    model="llama-3.3-70b-versatile",
    temperature=0,
    groq_api_key=os.getenv("GROQ_API_KEY")
)

resp = llm.invoke("hello, test trace from Deeeps's project!")
print(resp)

content="Hello. It seems like you're testing something from Deeeps's project. Is there something specific you'd like to know or discuss, or would you like me to help with a particular task? I'm here to assist you." additional_kwargs={} response_metadata={'token_usage': {'completion_tokens': 47, 'prompt_tokens': 45, 'total_tokens': 92, 'completion_time': 0.125531631, 'completion_tokens_details': None, 'prompt_time': 0.001958622, 'prompt_tokens_details': None, 'queue_time': 0.058488437, 'total_time': 0.127490253}, 'model_name': 'llama-3.3-70b-versatile', 'system_fingerprint': 'fp_dae98b5ecb', 'service_tier': 'on_demand', 'finish_reason': 'stop', 'logprobs': None, 'model_provider': 'groq'} id='lc_run--358f82d7-dbb1-4805-b972-2b5f8d756e10-0' usage_metadata={'input_tokens': 45, 'output_tokens': 47, 'total_tokens': 92}

In [24]:
import os
os.listdir(".")
os.getcwd()

'c:\\Users\\deepika.pedagadi\\Desktop\\PYTHON\\NLP2SQL\\notebook'

In [25]:
import os
import sys
sys.path.append(os.path.abspath(".."))

from utils.db import run_select_query
from dotenv import load_dotenv
load_dotenv()

run_select_query("SELECT version();")

[('PostgreSQL 17.6 on x86_64-windows, compiled by msvc-19.44.35213, 64-bit',)]

In [27]:
from dotenv import load_dotenv
import os 
load_dotenv()
host = os.getenv("PG_HOST")
port = os.getenv("PG_PORT")
user = os.getenv("PG_USER")
password = os.getenv("PG_PASSWORD")
database = os.getenv("PG_DB")

pg_uri = f"postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}"
pg_uri

'postgresql+psycopg2://postgres:welcome@localhost:5432/testdb'

In [28]:
#create sqlalchemy engine
from sqlalchemy import create_engine, text 
engine = create_engine(pg_uri)

#test the connection
with engine.connect() as conn:
    result = conn.execute(text("SELECT version();"))
    print(result.fetchone())

('PostgreSQL 17.6 on x86_64-windows, compiled by msvc-19.44.35213, 64-bit',)

In [29]:
#optional but tried
from langchain_community.utilities import SQLDatabase
db = SQLDatabase.from_uri(pg_uri)
print(db)
db.get_usable_table_names()

<langchain_community.utilities.sql_database.SQLDatabase object at 0x00000238275FA3C0>

['customers',
 'employees',
 'offices',
 'orderdetails',
 'orders',
 'payments',
 'productlines',
 'products',
 'user',
 'user1',
 'users']

In [30]:
#langchain sql agent with langsmith test tracing 
from dotenv import load_dotenv
import os 
load_dotenv()

#assert os.getenv("OPENAI_API_KEY"), "OPENAI_API_KEY missing"
assert os.getenv("GROQ_API_KEY"), "GROQ_API_KEY missing"
assert os.getenv("LANGSMITH_API_KEY"), "LANGSMITH_API_KEY missing"

# Ensure LangSmith tracing env variables (already set earlier)
os.environ["LANGCHAIN_TRACING_V2"] = os.getenv("LANGCHAIN_TRACING_V2", "true")
os.environ["LANGCHAIN_ENDPOINT"] = os.getenv("LANGSMITH_ENDPOINT", "https://api.smith.langchain.com")
os.environ["LANGCHAIN_API_KEY"] = os.getenv("LANGSMITH_API_KEY")
os.environ["LANGCHAIN_PROJECT"] = os.getenv("LANGCHAIN_PROJECT", "nlp2-sql-chatbot")
print("Env OK:", bool(os.getenv("GROQ_API_KEY")), bool(os.getenv("LANGSMITH_API_KEY")))

Env OK: True True

In [31]:
#create sqlalchemy/ sqldb obj
from langchain_community.utilities import SQLDatabase
import os 

pg_uri =  os.getenv("pg_uri") or os.getenv("pg_uri".upper()) or globals().get("pg_uri")
if not pg_uri:
    raise ValueError("pg_uri is not defined.Make sure u set pg_uri earlier.")
db = SQLDatabase.from_uri(pg_uri)
print(db.get_usable_table_names())

['customers', 'employees', 'offices', 'orderdetails', 'orders', 'payments', 'productlines', 'products', 'user', 'user1', 'users']

In [10]:
#create llm 
#from langchain_openai import ChatOpenAI
#llm = ChatOpenAI(model="gpt-4o-mini", temperature=0)

In [32]:
#creation of sql chain 
#using sqldb [llm + given db] 
# translates questions -> SQL -> run them
from langchain_community.utilities import SQLDatabase
from langchain_community.agent_toolkits.sql.base import create_sql_agent
#from langchain_openai import ChatOpenAI
from langchain_groq import ChatGroq

# return_direct=False ensures chain gives a composed natural-language answer
sql_chain = create_sql_agent(
    llm=llm,        #llm gen SQL n answers
    db=db,
    verbose=True,           # prints SQL executed in notebook output (good for debugging)
    return_direct=False     # return natural-language response, not raw SQL only
)

In [33]:
#safety: restrict destructive operations
"""By default the chain will not intentionally issue DROP/ALTER etc, but it's 
best to proactively block dangerous queries. Hereâ€™s a small wrapper to check the model-generated 
SQL and deny/raise if dangerous keywords are present."""
from sqlalchemy import text
DANGEROUS = {"drop", "delete", "truncate", "alter", "create", "shutdown"}

def is_safe_sql(sql: str) -> bool:
    s = sql.lower()
    return not any(token in s for token in DANGEROUS)

def safe_run(query: str):
    """Run natural language query via sql_chain but block dangerous SQL."""
    # ask the chain to produce SQL but because SQLDatabaseChain executes internally,
    # we'll rely on verbose=True printing the SQL. If you want the SQL separately,
    # use chain.tools or implement a custom agent pattern.
    out = sql_chain.run(query)
    return out

In [34]:
#test queries
print(sql_chain.run("Show top 5 products by quantityInStock.")) #sample

C:\Users\deepika.pedagadi\AppData\Local\Temp\ipykernel_19036\2327659592.py:2: LangChainDeprecationWarning: The method `Chain.run` was deprecated in langchain-classic 0.1.0 and will be removed in 1.0. Use `invoke` instead.
  print(sql_chain.run("Show top 5 products by quantityInStock.")) #sample

> Entering new SQL Agent Executor chain...
Thought: I should look at the tables in the database to see what I can query.  Then I should query the schema of the most relevant tables.
Action: sql_db_list_tables
Action Input: customers, employees, offices, orderdetails, orders, payments, productlines, products, user, user1, usersThe observation from the sql_db_list_tables tool shows that there are several tables in the database, including "products" which seems relevant to the question.

Action: sql_db_schema
Action Input: products
CREATE TABLE products (
	productcode VARCHAR(20) NOT NULL,
	productname VARCHAR(70),
	productline VARCHAR(50),
	productscale VARCHAR(10),
	productvendor VARCHAR(50),
	productdescription TEXT,
	quantityinstock INTEGER,
	buyprice NUMERIC(10, 2),
	msrp NUMERIC(10, 2),
	CONSTRAINT products_pkey PRIMARY KEY (productcode),
	CONSTRAINT products_productline_fkey FOREIGN KEY(productline) REFERENCES productlines (productline)
)

/*
3 rows from products table:
productcode	productname	productline	productscale	productvendor	productdescription	quantityinstock	buyprice	msrp
P001	Honda Car	Cars	1:18	Honda	Mini car	100	20.00	40.00
P002	Boeing 747	Planes	1:125	Boeing	Plane model	50	80.00	120.00
P003	Titanic	Ships	1:200	Harbor Ltd	Ship model	40	60.00	95.00
*/The observation from the sql_db_schema tool shows that the "products" table has a column named "quantityinstock" which seems relevant to the question.

Action: sql_db_query_checker
Action Input: SELECT productname, quantityinstock FROM products ORDER BY quantityinstock DESC LIMIT 5;```sql
SELECT "productname", "quantityinstock"
FROM products
ORDER BY "quantityinstock" DESC
LIMIT 5;
```The observation from the sql_db_query_checker tool shows that the query is correct.

Action: sql_db_query
Action Input: SELECT productname, quantityinstock FROM products ORDER BY quantityinstock DESC LIMIT 5;[('Lion Figure', 150), ('Ford Truck', 120), ('Honda Car', 100), ('RoboX', 90), ('Harley Bike', 80)]I now know the final answer
Final Answer: The top 5 products by quantityInStock are: Lion Figure with 150, Ford Truck with 120, Honda Car with 100, RoboX with 90, and Harley Bike with 80.

> Finished chain.
The top 5 products by quantityInStock are: Lion Figure with 150, Ford Truck with 120, Honda Car with 100, RoboX with 90, and Harley Bike with 80.

In [ ]:
print(sql_chain.run("List the customerName, orderNumber and orderDate for orders placed by 'ABC Corp'.")) #join across tables

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: ""  customers, employees, offices, orderdetails, orders, payments, productlines, products, user, user1, usersI need to check the schema of the `orders` table and the `customers` table to find the relevant columns for the query.
Action: sql_db_schema
Action Input: "orders, customers"
CREATE TABLE customers (
	customernumber INTEGER NOT NULL,
	customername VARCHAR(50),
	contactlastname VARCHAR(50),
	contactfirstname VARCHAR(50),
	phone VARCHAR(20),
	addressline1 VARCHAR(100),
	city VARCHAR(50),
	state VARCHAR(50),
	postalcode VARCHAR(10),
	country VARCHAR(50),
	salesrepemployeenumber INTEGER,
	creditlimit NUMERIC(10, 2),
	CONSTRAINT customers_pkey PRIMARY KEY (customernumber),
	CONSTRAINT customers_salesrepemployeenumber_fkey FOREIGN KEY(salesrepemployeenumber) REFERENCES employees (employeenumber)
)

/*
3 rows from customers table:
customernumber	customername	contactlastname	contactfirstname	phone	addressline1	city	state	postalcode	country	salesrepemployeenumber	creditlimit
201	ABC Corp	Rao	Sita	999111222	C1 Street	Hyderabad	TS	500001	India	102	50000.00
202	XYZ Ltd	Kumar	Ajay	999222333	C2 Street	Bangalore	KA	560001	India	103	60000.00
203	TechSoft	Mehta	Priya	999333444	C3 Street	Chennai	TN	600001	India	104	45000.00
*/


CREATE TABLE orders (
	ordernumber INTEGER NOT NULL,
	orderdate DATE,
	requireddate DATE,
	shippeddate DATE,
	status VARCHAR(20),
	comments TEXT,
	customernumber INTEGER,
	CONSTRAINT orders_pkey PRIMARY KEY (ordernumber),
	CONSTRAINT orders_customernumber_fkey FOREIGN KEY(customernumber) REFERENCES customers (customernumber)
)

/*
3 rows from orders table:
ordernumber	orderdate	requireddate	shippeddate	status	comments	customernumber
5001	2024-01-05	2024-01-10	2024-01-08	Shipped	Delivered	201
5002	2024-01-15	2024-01-20	2024-01-18	Shipped	Delivered	202
5003	2024-02-02	2024-02-08	2024-02-06	Shipped	Delivered	203
*/To get the `customerName`, `orderNumber`, and `orderDate` for orders placed by 'ABC Corp', I need to join the `customers` table with the `orders` table using the `customernumber`. I will filter the results to only include orders from 'ABC Corp'.

The relevant columns are:
- From `customers`: `customername`
- From `orders`: `ordernumber`, `orderdate`

I will construct the SQL query accordingly.

Action: sql_db_query_checker
Action Input: "SELECT c.customername, o.ordernumber, o.orderdate FROM customers c JOIN orders o ON c.customernumber = o.customernumber WHERE c.customername = 'ABC Corp' LIMIT 10;"  ```sql
SELECT c.customername, o.ordernumber, o.orderdate FROM customers c JOIN orders o ON c.customernumber = o.customernumber WHERE c.customername = 'ABC Corp' LIMIT 10;
```The query is syntactically correct. Now I will execute it to retrieve the results.

Action: sql_db_query
Action Input: "SELECT c.customername, o.ordernumber, o.orderdate FROM customers c JOIN orders o ON c.customernumber = o.customernumber WHERE c.customername = 'ABC Corp' LIMIT 10;"  [('ABC Corp', 5001, datetime.date(2024, 1, 5))]I now know the final answer. The order details for 'ABC Corp' are as follows:

- Customer Name: ABC Corp
- Order Number: 5001
- Order Date: 2024-01-05

Final Answer: The customerName is 'ABC Corp', the orderNumber is 5001, and the orderDate is 2024-01-05.

> Finished chain.
The customerName is 'ABC Corp', the orderNumber is 5001, and the orderDate is 2024-01-05.

In [34]:
print(sql_chain.run("What is the total payments amount per customer? Show top 5 customers by total payment"))

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: ""  customers, employees, offices, orderdetails, orders, payments, productlines, products, user, user1, usersI need to check the schema of the "payments" and "customers" tables to understand how to calculate the total payments per customer.

Action: sql_db_schema
Action Input: "payments, customers"
CREATE TABLE customers (
	customernumber INTEGER NOT NULL,
	customername VARCHAR(50),
	contactlastname VARCHAR(50),
	contactfirstname VARCHAR(50),
	phone VARCHAR(20),
	addressline1 VARCHAR(100),
	city VARCHAR(50),
	state VARCHAR(50),
	postalcode VARCHAR(10),
	country VARCHAR(50),
	salesrepemployeenumber INTEGER,
	creditlimit NUMERIC(10, 2),
	CONSTRAINT customers_pkey PRIMARY KEY (customernumber),
	CONSTRAINT customers_salesrepemployeenumber_fkey FOREIGN KEY(salesrepemployeenumber) REFERENCES employees (employeenumber)
)

/*
3 rows from customers table:
customernumber	customername	contactlastname	contactfirstname	phone	addressline1	city	state	postalcode	country	salesrepemployeenumber	creditlimit
201	ABC Corp	Rao	Sita	999111222	C1 Street	Hyderabad	TS	500001	India	102	50000.00
202	XYZ Ltd	Kumar	Ajay	999222333	C2 Street	Bangalore	KA	560001	India	103	60000.00
203	TechSoft	Mehta	Priya	999333444	C3 Street	Chennai	TN	600001	India	104	45000.00
*/


CREATE TABLE payments (
	customernumber INTEGER NOT NULL,
	checknumber VARCHAR(20) NOT NULL,
	paymentdate DATE,
	amount NUMERIC(10, 2),
	CONSTRAINT payments_pkey PRIMARY KEY (customernumber, checknumber),
	CONSTRAINT payments_customernumber_fkey FOREIGN KEY(customernumber) REFERENCES customers (customernumber)
)

/*
3 rows from payments table:
customernumber	checknumber	paymentdate	amount
201	CHK001	2024-01-01	15000.00
202	CHK002	2024-01-10	20000.00
203	CHK003	2024-02-01	12000.00
*/To calculate the total payments amount per customer, I will need to join the `payments` table with the `customers` table on the `customernumber` field. Then, I will sum the `amount` for each customer and order the results by the total payment amount in descending order to get the top 5 customers.

Action: sql_db_query_checker
Action Input: "SELECT c.customernumber, c.customername, SUM(p.amount) AS total_payment FROM customers c JOIN payments p ON c.customernumber = p.customernumber GROUP BY c.customernumber, c.customername ORDER BY total_payment DESC LIMIT 5;"  ```sql
SELECT c.customernumber, c.customername, SUM(p.amount) AS total_payment
FROM customers c
JOIN payments p ON c.customernumber = p.customernumber
GROUP BY c.customernumber, c.customername
ORDER BY total_payment DESC
LIMIT 5;
```The query is syntactically correct. I will now execute it to get the results.

Action: sql_db_query
Action Input: "SELECT c.customernumber, c.customername, SUM(p.amount) AS total_payment FROM customers c JOIN payments p ON c.customernumber = p.customernumber GROUP BY c.customernumber, c.customername ORDER BY total_payment DESC LIMIT 5;"  [(209, 'SkyNet', Decimal('22000.00')), (202, 'XYZ Ltd', Decimal('20000.00')), (204, 'InnoWorks', Decimal('18000.00')), (207, 'PrimeTech', Decimal('17000.00')), (208, 'Fusion Corp', Decimal('16000.00'))]I now know the final answer. The top 5 customers by total payment amount are:

1. SkyNet: $22,000.00
2. XYZ Ltd: $20,000.00
3. InnoWorks: $18,000.00
4. PrimeTech: $17,000.00
5. Fusion Corp: $16,000.00

Final Answer: The top 5 customers by total payment amount are SkyNet ($22,000.00), XYZ Ltd ($20,000.00), InnoWorks ($18,000.00), PrimeTech ($17,000.00), and Fusion Corp ($16,000.00).

> Finished chain.
The top 5 customers by total payment amount are SkyNet ($22,000.00), XYZ Ltd ($20,000.00), InnoWorks ($18,000.00), PrimeTech ($17,000.00), and Fusion Corp ($16,000.00).

In [35]:
print(sql_chain.run("What columns exist in the customers table?"))

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: ""  customers, employees, offices, orderdetails, orders, payments, productlines, products, user, user1, usersI see that the "customers" table exists in the database. Now, I will query the schema of the "customers" table to find out what columns it contains.
Action: sql_db_schema
Action Input: "customers"
CREATE TABLE customers (
	customernumber INTEGER NOT NULL,
	customername VARCHAR(50),
	contactlastname VARCHAR(50),
	contactfirstname VARCHAR(50),
	phone VARCHAR(20),
	addressline1 VARCHAR(100),
	city VARCHAR(50),
	state VARCHAR(50),
	postalcode VARCHAR(10),
	country VARCHAR(50),
	salesrepemployeenumber INTEGER,
	creditlimit NUMERIC(10, 2),
	CONSTRAINT customers_pkey PRIMARY KEY (customernumber),
	CONSTRAINT customers_salesrepemployeenumber_fkey FOREIGN KEY(salesrepemployeenumber) REFERENCES employees (employeenumber)
)

/*
3 rows from customers table:
customernumber	customername	contactlastname	contactfirstname	phone	addressline1	city	state	postalcode	country	salesrepemployeenumber	creditlimit
201	ABC Corp	Rao	Sita	999111222	C1 Street	Hyderabad	TS	500001	India	102	50000.00
202	XYZ Ltd	Kumar	Ajay	999222333	C2 Street	Bangalore	KA	560001	India	103	60000.00
203	TechSoft	Mehta	Priya	999333444	C3 Street	Chennai	TN	600001	India	104	45000.00
*/I now know the final answer. The columns in the "customers" table are:

1. customernumber
2. customername
3. contactlastname
4. contactfirstname
5. phone
6. addressline1
7. city
8. state
9. postalcode
10. country
11. salesrepemployeenumber
12. creditlimit

Final Answer: The columns in the "customers" table are customernumber, customername, contactlastname, contactfirstname, phone, addressline1, city, state, postalcode, country, salesrepemployeenumber, and creditlimit.

> Finished chain.
The columns in the "customers" table are customernumber, customername, contactlastname, contactfirstname, phone, addressline1, city, state, postalcode, country, salesrepemployeenumber, and creditlimit.

In [35]:
#BUILD COMPLETE CHATBOT LOGIC
db
sql_chain

AgentExecutor(name='SQL Agent Executor', verbose=True, agent=RunnableAgent(runnable=RunnableAssign(mapper={
  agent_scratchpad: RunnableLambda(lambda x: format_log_to_str(x['intermediate_steps']))
})
| PromptTemplate(input_variables=['agent_scratchpad', 'input'], input_types={}, partial_variables={'tools': "sql_db_query - Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.\nsql_db_schema - Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3\nsql_db_list_tables - Input is an empty string, output is a comma-separated list of tables in the database.\nsql_db_query_checker - Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!", 'tool_names': 'sql_db_query, sql_db_schema, sql_db_list_tables, sql_db_query_checker'}, template='You are an agent designed to interact with a SQL database.\nGiven an input question, create a syntactically correct postgresql query to run, then look at the results of the query and return the answer.\nUnless the user specifies a specific number of examples they wish to obtain, always limit your query to at most 10 results.\nYou can order the results by a relevant column to return the most interesting examples in the database.\nNever query for all the columns from a specific table, only ask for the relevant columns given the question.\nYou have access to tools for interacting with the database.\nOnly use the below tools. Only use the information returned by the below tools to construct your final answer.\nYou MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.\n\nDO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.\n\nIf the question does not seem related to the database, just return "I don\'t know" as the answer.\n\n\n{tools}\n\nUse the following format:\n\nQuestion: the input question you must answer\nThought: you should always think about what to do\nAction: the action to take, should be one of [{tool_names}]\nAction Input: the input to the action\nObservation: the result of the action\n... (this Thought/Action/Action Input/Observation can repeat N times)\nThought: I now know the final answer\nFinal Answer: the final answer to the original input question\n\nBegin!\n\nQuestion: {input}\nThought: I should look at the tables in the database to see what I can query.  Then I should query the schema of the most relevant tables.\n{agent_scratchpad}')
| RunnableBinding(bound=ChatGroq(profile={'max_input_tokens': 131072, 'max_output_tokens': 32768, 'image_inputs': False, 'audio_inputs': False, 'video_inputs': False, 'image_outputs': False, 'audio_outputs': False, 'video_outputs': False, 'reasoning_output': False, 'tool_calling': True}, client=<groq.resources.chat.completions.Completions object at 0x0000023827618690>, async_client=<groq.resources.chat.completions.AsyncCompletions object at 0x0000023827618B90>, model_name='llama-3.3-70b-versatile', temperature=1e-08, model_kwargs={}, groq_api_key=SecretStr('**********')), kwargs={'stop': ['\nObservation']}, config={}, config_factories=[])
| ReActSingleInputOutputParser(), input_keys_arg=['input'], return_keys_arg=['output'], stream_runnable=True), tools=[QuerySQLDatabaseTool(description="Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.", db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x0000023827985BD0>), InfoSQLDatabaseTool(description='Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x0000023827985BD0>), ListSQLDatabaseTool(db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x0000023827985BD0>), QuerySQLCheckerTool(description='Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x0000023827985BD0>, llm=ChatGroq(profile={'max_input_tokens': 131072, 'max_output_tokens': 32768, 'image_inputs': False, 'audio_inputs': False, 'video_inputs': False, 'image_outputs': False, 'audio_outputs': False, 'video_outputs': False, 'reasoning_output': False, 'tool_calling': True}, client=<groq.resources.chat.completions.Completions object at 0x0000023827618690>, async_client=<groq.resources.chat.completions.AsyncCompletions object at 0x0000023827618B90>, model_name='llama-3.3-70b-versatile', temperature=1e-08, model_kwargs={}, groq_api_key=SecretStr('**********')), llm_chain=LLMChain(verbose=False, prompt=PromptTemplate(input_variables=['dialect', 'query'], input_types={}, partial_variables={}, template='\n{query}\nDouble check the {dialect} query above for common mistakes, including:\n- Using NOT IN with NULL values\n- Using UNION when UNION ALL should have been used\n- Using BETWEEN for exclusive ranges\n- Data type mismatch in predicates\n- Properly quoting identifiers\n- Using the correct number of arguments for functions\n- Casting to the correct data type\n- Using the proper columns for joins\n\nIf there are any of the above mistakes, rewrite the query. If there are no mistakes, just reproduce the original query.\n\nOutput the final SQL query only.\n\nSQL Query: '), llm=ChatGroq(profile={'max_input_tokens': 131072, 'max_output_tokens': 32768, 'image_inputs': False, 'audio_inputs': False, 'video_inputs': False, 'image_outputs': False, 'audio_outputs': False, 'video_outputs': False, 'reasoning_output': False, 'tool_calling': True}, client=<groq.resources.chat.completions.Completions object at 0x0000023827618690>, async_client=<groq.resources.chat.completions.AsyncCompletions object at 0x0000023827618B90>, model_name='llama-3.3-70b-versatile', temperature=1e-08, model_kwargs={}, groq_api_key=SecretStr('**********')), output_parser=StrOutputParser(), llm_kwargs={}))])

In [36]:
#create chatbot function
#NLP -> SQL -> PostgreSQL -> Final Answer
def chatbot(question: str):
    print("User:", question)
    
    try:
        #Run SQL Agent
        response = sql_chain.run(question)
        print("Chatbot Answer:")
        return response
    except Exception as e:
        print("Error:", str(e))
        return "I faced an error while answering ur question"

In [38]:
#test the chatbot
chatbot("Show me the first 5 products.")

User: Show me the first 5 products.


> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: ""  customers, employees, offices, orderdetails, orders, payments, productlines, products, user, user1, usersThe relevant table for products is "products." I will now check the schema of the "products" table to understand its structure and the relevant columns I can query.
Action: sql_db_schema
Action Input: "products"
CREATE TABLE products (
	productcode VARCHAR(20) NOT NULL,
	productname VARCHAR(70),
	productline VARCHAR(50),
	productscale VARCHAR(10),
	productvendor VARCHAR(50),
	productdescription TEXT,
	quantityinstock INTEGER,
	buyprice NUMERIC(10, 2),
	msrp NUMERIC(10, 2),
	CONSTRAINT products_pkey PRIMARY KEY (productcode),
	CONSTRAINT products_productline_fkey FOREIGN KEY(productline) REFERENCES productlines (productline)
)

/*
3 rows from products table:
productcode	productname	productline	productscale	productvendor	productdescription	quantityinstock	buyprice	msrp
P001	Honda Car	Cars	1:18	Honda	Mini car	100	20.00	40.00
P002	Boeing 747	Planes	1:125	Boeing	Plane model	50	80.00	120.00
P003	Titanic	Ships	1:200	Harbor Ltd	Ship model	40	60.00	95.00
*/I can query the "products" table for the first 5 products. The relevant columns to retrieve are "productcode," "productname," and "productline." I will limit the results to 5 and order them by "productcode" for consistency.

Action: sql_db_query_checker
Action Input: "SELECT productcode, productname, productline FROM products ORDER BY productcode LIMIT 5;"  ```sql
SELECT productcode, productname, productline FROM products ORDER BY productcode LIMIT 5;
```The query is syntactically correct. I will now execute it to retrieve the first 5 products.

Action: sql_db_query
Action Input: "SELECT productcode, productname, productline FROM products ORDER BY productcode LIMIT 5;"  [('P001', 'Honda Car', 'Cars'), ('P002', 'Boeing 747', 'Planes'), ('P003', 'Titanic', 'Ships'), ('P004', 'Ford Truck', 'Trucks'), ('P005', 'Vintage Car', 'Vintage')]I now know the final answer. The first 5 products are:

1. Product Code: P001, Product Name: Honda Car, Product Line: Cars
2. Product Code: P002, Product Name: Boeing 747, Product Line: Planes
3. Product Code: P003, Product Name: Titanic, Product Line: Ships
4. Product Code: P004, Product Name: Ford Truck, Product Line: Trucks
5. Product Code: P005, Product Name: Vintage Car, Product Line: Vintage

Final Answer: The first 5 products are:
1. Honda Car (Cars)
2. Boeing 747 (Planes)
3. Titanic (Ships)
4. Ford Truck (Trucks)
5. Vintage Car (Vintage)

> Finished chain.
Chatbot Answer:

'The first 5 products are: \n1. Honda Car (Cars)\n2. Boeing 747 (Planes)\n3. Titanic (Ships)\n4. Ford Truck (Trucks)\n5. Vintage Car (Vintage)'

In [39]:
chatbot("How many employees work in each office?")

User: How many employees work in each office?


> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: ""  customers, employees, offices, orderdetails, orders, payments, productlines, products, user, user1, usersI need to check the schema of the "employees" and "offices" tables to understand their structure and how they relate to each other. This will help me formulate a query to count the number of employees in each office.
Action: sql_db_schema
Action Input: "employees, offices"
CREATE TABLE employees (
	employeenumber INTEGER NOT NULL,
	lastname VARCHAR(50),
	firstname VARCHAR(50),
	jobtitle VARCHAR(50),
	email VARCHAR(100),
	officecode VARCHAR(10),
	reportsto INTEGER,
	CONSTRAINT employees_pkey PRIMARY KEY (employeenumber),
	CONSTRAINT employees_officecode_fkey FOREIGN KEY(officecode) REFERENCES offices (officecode)
)

/*
3 rows from employees table:
employeenumber	lastname	firstname	jobtitle	email	officecode	reportsto
101	Dasari	Girish	Manager	girish@company.com	O1	None
102	Krishna	Deepika	Sales Rep	deepika@company.com	O1	101
103	Sharma	Raj	Sales Rep	raj@company.com	O2	101
*/


CREATE TABLE offices (
	officecode VARCHAR(10) NOT NULL,
	city VARCHAR(50),
	phone VARCHAR(20),
	addressline1 VARCHAR(100),
	addressline2 VARCHAR(100),
	state VARCHAR(50),
	country VARCHAR(50),
	postalcode VARCHAR(15),
	territory VARCHAR(20),
	CONSTRAINT offices_pkey PRIMARY KEY (officecode)
)

/*
3 rows from offices table:
officecode	city	phone	addressline1	addressline2	state	country	postalcode	territory
O1	Hyderabad	123456789	Street 1	Area 1	TS	India	500001	South
O2	Bangalore	987654321	Street 2	Area 2	KA	India	560001	South
O3	Chennai	111222333	Street 3	Area 3	TN	India	600001	South
*/To find out how many employees work in each office, I can use a SQL query that counts the number of employees grouped by their office code. I will join the `employees` table with the `offices` table to get the office details along with the count of employees.

The relevant columns for this query will be `officecode` from the `employees` table and the count of employees. I will also include the city from the `offices` table for better context.

Here is the query I will construct:
```sql
SELECT o.city, e.officecode, COUNT(e.employeenumber) AS employee_count
FROM employees e
JOIN offices o ON e.officecode = o.officecode
GROUP BY o.city, e.officecode
ORDER BY employee_count DESC
LIMIT 10;
```

Now, I will double-check this query for correctness before executing it.
Action: sql_db_query_checker
Action Input:
```sql
SELECT o.city, e.officecode, COUNT(e.employeenumber) AS employee_count
FROM employees e
JOIN offices o ON e.officecode = o.officecode
GROUP BY o.city, e.officecode
ORDER BY employee_count DESC
LIMIT 10;
```  ```sql
SELECT o.city, e.officecode, COUNT(e.employeenumber) AS employee_count
FROM employees e
JOIN offices o ON e.officecode = o.officecode
GROUP BY o.city, e.officecode
ORDER BY employee_count DESC
LIMIT 10;
```The query is syntactically correct. Now I will execute it to get the results.
Action: sql_db_query
Action Input:
```sql
SELECT o.city, e.officecode, COUNT(e.employeenumber) AS employee_count
FROM employees e
JOIN offices o ON e.officecode = o.officecode
GROUP BY o.city, e.officecode
ORDER BY employee_count DESC
LIMIT 10;
```  Error: (psycopg2.errors.SyntaxError) syntax error at or near "```"
LINE 1: ```sql
        ^

[SQL: ```sql
SELECT o.city, e.officecode, COUNT(e.employeenumber) AS employee_count
FROM employees e
JOIN offices o ON e.officecode = o.officecode
GROUP BY o.city, e.officecode
ORDER BY employee_count DESC
LIMIT 10;
```]
(Background on this error at: https://sqlalche.me/e/20/f405)It seems that I included extra formatting in the SQL query that caused a syntax error. I will remove the formatting and try executing the query again.

Here is the corrected query:
```sql
SELECT o.city, e.officecode, COUNT(e.employeenumber) AS employee_count
FROM employees e
JOIN offices o ON e.officecode = o.officecode
GROUP BY o.city, e.officecode
ORDER BY employee_count DESC
LIMIT 10;
```

Now, I will double-check this query for correctness before executing it.
Action: sql_db_query_checker
Action Input:
```sql
SELECT o.city, e.officecode, COUNT(e.employeenumber) AS employee_count
FROM employees e
JOIN offices o ON e.officecode = o.officecode
GROUP BY o.city, e.officecode
ORDER BY employee_count DESC
LIMIT 10;
```  ```sql
SELECT o.city, e.officecode, COUNT(e.employeenumber) AS employee_count
FROM employees e
JOIN offices o ON e.officecode = o.officecode
GROUP BY o.city, e.officecode
ORDER BY employee_count DESC
LIMIT 10;
```The query is still syntactically correct. Now I will execute it to get the results.
Action: sql_db_query
Action Input:
```sql
SELECT o.city, e.officecode, COUNT(e.employeenumber) AS employee_count
FROM employees e
JOIN offices o ON e.officecode = o.officecode
GROUP BY o.city, e.officecode
ORDER BY employee_count DESC
LIMIT 10;
```  Error: (psycopg2.errors.SyntaxError) syntax error at or near "```"
LINE 1: ```sql
        ^

[SQL: ```sql
SELECT o.city, e.officecode, COUNT(e.employeenumber) AS employee_count
FROM employees e
JOIN offices o ON e.officecode = o.officecode
GROUP BY o.city, e.officecode
ORDER BY employee_count DESC
LIMIT 10;
```]
(Background on this error at: https://sqlalche.me/e/20/f405)It seems that I mistakenly included formatting in the SQL query again. I will remove the formatting entirely and try executing the query once more.

Here is the corrected query without any formatting:
```sql
SELECT o.city, e.officecode, COUNT(e.employeenumber) AS employee_count
FROM employees e
JOIN offices o ON e.officecode = o.officecode
GROUP BY o.city, e.officecode
ORDER BY employee_count DESC
LIMIT 10;
```

Now, I will double-check this query for correctness before executing it.
Action: sql_db_query_checker
Action Input:
```sql
SELECT o.city, e.officecode, COUNT(e.employeenumber) AS employee_count
FROM employees e
JOIN offices o ON e.officecode = o.officecode
GROUP BY o.city, e.officecode
ORDER BY employee_count DESC
LIMIT 10;
```  ```sql
SELECT o.city, e.officecode, COUNT(e.employeenumber) AS employee_count
FROM employees e
JOIN offices o ON e.officecode = o.officecode
GROUP BY o.city, e.officecode
ORDER BY employee_count DESC
LIMIT 10;
```The query is still syntactically correct. Now I will execute it to get the results.
Action: sql_db_query
Action Input:
```sql
SELECT o.city, e.officecode, COUNT(e.employeenumber) AS employee_count
FROM employees e
JOIN offices o ON e.officecode = o.officecode
GROUP BY o.city, e.officecode
ORDER BY employee_count DESC
LIMIT 10;
```  Error: (psycopg2.errors.SyntaxError) syntax error at or near "```"
LINE 1: ```sql
        ^

[SQL: ```sql
SELECT o.city, e.officecode, COUNT(e.employeenumber) AS employee_count
FROM employees e
JOIN offices o ON e.officecode = o.officecode
GROUP BY o.city, e.officecode
ORDER BY employee_count DESC
LIMIT 10;
```]
(Background on this error at: https://sqlalche.me/e/20/f405)It seems that I have repeatedly included formatting in the SQL query that is causing syntax errors. I will ensure that I provide the query without any formatting or extra characters.

Here is the corrected query without any formatting:
```sql
SELECT o.city, e.officecode, COUNT(e.employeenumber) AS employee_count
FROM employees e
JOIN offices o ON e.officecode = o.officecode
GROUP BY o.city, e.officecode
ORDER BY employee_count DESC
LIMIT 10;
```

Now, I will double-check this query for correctness before executing it.
Action: sql_db_query_checker
Action Input:
SELECT o.city, e.officecode, COUNT(e.employeenumber) AS employee_count
FROM employees e
JOIN offices o ON e.officecode = o.officecode
GROUP BY o.city, e.officecode
ORDER BY employee_count DESC
LIMIT 10;  ```sql
SELECT o.city, e.officecode, COUNT(e.employeenumber) AS employee_count
FROM employees e
JOIN offices o ON e.officecode = o.officecode
GROUP BY o.city, e.officecode
ORDER BY employee_count DESC
LIMIT 10;
```It seems that I am still encountering issues with the formatting of the SQL query. I will ensure that I provide the query in a plain format without any additional characters or formatting.

Here is the corrected query without any formatting:
```sql
SELECT o.city, e.officecode, COUNT(e.employeenumber) AS employee_count
FROM employees e
JOIN offices o ON e.officecode = o.officecode
GROUP BY o.city, e.officecode
ORDER BY employee_count DESC
LIMIT 10;
```

Now, I will double-check this query for correctness before executing it.
Action: sql_db_query_checker
Action Input: SELECT o.city, e.officecode, COUNT(e.employeenumber) AS employee_count FROM employees e JOIN offices o ON e.officecode = o.officecode GROUP BY o.city, e.officecode ORDER BY employee_count DESC LIMIT 10;  ```sql
SELECT o.city, e.officecode, COUNT(e.employeenumber) AS employee_count
FROM employees e
JOIN offices o ON e.officecode = o.officecode
GROUP BY o.city, e.officecode
ORDER BY employee_count DESC
LIMIT 10;
```The query is still syntactically correct. Now I will execute it to get the results.
Action: sql_db_query
Action Input: SELECT o.city, e.officecode, COUNT(e.employeenumber) AS employee_count FROM employees e JOIN offices o ON e.officecode = o.officecode GROUP BY o.city, e.officecode ORDER BY employee_count DESC LIMIT 10;  [('Hyderabad', 'O1', 2), ('Mumbai', 'O4', 1), ('Bangalore', 'O2', 1), ('Jaipur', 'O9', 1), ('Delhi', 'O5', 1), ('Ahmedabad', 'O8', 1), ('Chennai', 'O3', 1), ('Pune', 'O6', 1), ('Kolkata', 'O7', 1)]I now know the final answer. The number of employees working in each office is as follows:

- Hyderabad (O1): 2 employees
- Mumbai (O4): 1 employee
- Bangalore (O2): 1 employee
- Jaipur (O9): 1 employee
- Delhi (O5): 1 employee
- Ahmedabad (O8): 1 employee
- Chennai (O3): 1 employee
- Pune (O6): 1 employee
- Kolkata (O7): 1 employee

Final Answer: The number of employees working in each office is as follows: Hyderabad (O1): 2, Mumbai (O4): 1, Bangalore (O2): 1, Jaipur (O9): 1, Delhi (O5): 1, Ahmedabad (O8): 1, Chennai (O3): 1, Pune (O6): 1, Kolkata (O7): 1.

> Finished chain.
Chatbot Answer:

'The number of employees working in each office is as follows: Hyderabad (O1): 2, Mumbai (O4): 1, Bangalore (O2): 1, Jaipur (O9): 1, Delhi (O5): 1, Ahmedabad (O8): 1, Chennai (O3): 1, Pune (O6): 1, Kolkata (O7): 1.'

In [46]:
#connecting notebook -> backend -> langsmith
import requests 

#BACKEND_URL = "http://127.0.0.1:5000/ask"
url = "https://nlp2sql-chatbot.onrender.com/ask"


def ask_backend(question: str):
    payload = {"question": question}
    response = requests.post(url, json=payload)#BACKEND_URL, json=payload)

    if response.status_code == 200:
        return response.json()
    else:
        print("Error:", response.text)


ask_backend("Show me all customers")

Error: {"error":"Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}"}

In [47]:
ask_backend("list all the company names")

Error: {"error":"Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}"}

In [48]:
ask_backend("show me all products")

Error: {"error":"Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}"}